<div class="page-header">
  <h3>Menu Item #<%= @menu_item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/menu_items" class="btn btn-primary">
        Back
      </a>
      <a href="/menu_items/<%= @menu_item.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_menu_item/<%= @menu_item.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Menu item has many line_items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Line Items
      </li>

      <% @menu_item.line_items.each do |line_item| %>
        <li class="list-group-item">
          <a href="/line_items/<%= line_item.id %>">
            <%= line_item.restaurant_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/line_items/<%= line_item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/line_items/<%= line_item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_line_item/<%= line_item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
