<div class="page-header">
  <h3>Tab #<%= @tab.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @tab.user.present? %>
          <a href="/users/<%= @tab.user_id %>">
            <%= @tab.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Restaurant</dt>
      <dd>
        <% if @tab.restaurant.present? %>
          <a href="/restaurants/<%= @tab.restaurant_id %>">
            <%= @tab.restaurant.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tabs" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @tab.user %>
        <a href="/tabs/<%= @tab.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_tab/<%= @tab.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
