<div class="page-header">
  <h3>Line Item #<%= @line_item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Restaurant</dt>
      <dd>
        <% if @line_item.restaurant.present? %>
          <a href="/restaurants/<%= @line_item.restaurant_id %>">
            <%= @line_item.restaurant.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Menuitem</dt>
      <dd>
        <% if @line_item.menuitem.present? %>
          <a href="/menu_items/<%= @line_item.menuitem_id %>">
            <%= @line_item.menuitem.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/line_items" class="btn btn-primary">
        Back
      </a>
      <a href="/line_items/<%= @line_item.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_line_item/<%= @line_item.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
